.locationSearchContainer {
  width: 100%;
  height: 100%;
}

.locationSearchCoordinates{
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationSearchCoordinates input {
    width: 48%;
    height: 3rem;
    border: none;
    border-radius: 10px;
    margin: 10px 1%;
    text-indent: 0.5rem;
}

.locationSearchDetail{
    display: flex;
    justify-content: center;
    align-items: center;
}
.locationSearchDetail input{
    width: 48%;
    height: 3rem;
    border: none;
    border-radius: 10px;
    margin: 10px 1%;
    text-indent: 0.5rem;
}
.locationSearchButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationSearchButton button{
    width: 30%;
    height: 3rem;
    border: none;
    border-radius: 10px;
    margin: 10px 1%;
    text-indent: 0.5rem;
    background-color: #00B4C4;
    color: white;
    cursor: pointer;
}